/* Universal Styles */

html {
  font-family: roboto, "Open+Sans", sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  margin: auto;
}

.main-content {
  position: relative;
  margin: auto;
  width: 100%
}

.center {
  text-align: center;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
  padding: 2rem 0;
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: normal;
  margin: 1rem 0;
}

h4 {
  font-size: 2rem;
  font-weight: 500;
}

h5 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 2rem;
}

p {
  line-height: 2rem;
  margin: .5rem 0;
}
/* Header */

header {
  width: 100%;
  height: 64px;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1rem .5rem 1rem 1.5rem;
}

header .logo {
  flex-grow: 1;
  vertical-align: middle;
}

.logo img {
  width: 2.5rem;
}

.logo span {
  font-size: 2rem;
  font-weight: 600;
}

.logo span em {
  color: lightgray;
  font-weight: 500;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
  font-size: 1.5rem;
}

/* banner-section */

.banner {
  display: flex;
  position: relative;
  top: 1rem;
  padding: 2rem 2.5rem;
  background-color: #d3d3d3;
  width: 100%;
}

.banner img {
  display: inline-block;
}
.banner .image-container {
  width: 60%;
}

.banner .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
  margin-left: 1.5rem;
}

.banner h1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.4;
  padding: 1.5rem;
}

.banner h3 {
  padding: 2rem;
}

.button {
  background-color: #4a4a4a;
  color: white;
  text-align: center;
  padding: 1rem 1rem;
  margin-left: 1.5rem;
  font-size: 2rem;
}

/* Information section */

.information {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem 2rem;
  width: 100%;
}

.leftinfo {
  width: 60%;
  margin: 1rem .5rem;
}

.leftinfo h2 {
  padding: 2rem 0 1.5rem 0;
}

.leftinfo-text span {
  padding-top: 2rem;
}

.rightinfo {
  width: 40%;
  padding-left: 1.2rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.info .image-container {
  width: 35%;
  height: auto;
}

.rightinfo-text {
  text-align: left;
  align-self: center;
  padding: 2rem;
  width: 65%;
}

.information p {
  font-size: 1.7rem;
  letter-spacing: .5px;
}

.info a {
  font-size: 1.5rem;
  margin-top: .5rem;
  color: skyblue;
}

/* Courses Section */

.courses {
  padding: 0 4.5rem 2rem 4.5rem;
  background-color: #d3d3d3;
  width: 100%;

}
.course P {
  font-size: 1.9rem;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  padding: 0 4.5rem;
}

.course {
  max-width: 500px;
  height: auto;
  margin: 1rem 1rem;
  flex-grow: 1;
  background-color: white;
}

.course-text {
  padding: 1rem 1rem 1.5rem 1.5rem;
}

.course img {
  width: 500px;
}

/* Thesis Section */

.thesis-container {
  padding-bottom: 2rem;
  width: 100%;

}
.thesis {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 2rem;
  width: 100%;
}

.thesis p {
  font-size: 1.7rem;
  letter-spacing: .5px;
}

.thesis video {
  margin-bottom: 1.5rem;
}
